.card{
    width: 30%;
    min-height: 500px;
    border: 1px solid black;
    float: left;

}
.card-image{
    width: 100%;
    height: 300px;
}
.card h1{
    text-align: center;
    text-decoration: underline;
}
